.popup__text-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 27px 0 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  align-self: start;
}
