.popup__title {
  padding: 0;
  margin: 0 0 26px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 531px) {
  .popup__title {
    margin: 0 0 44px;
    font-size: 18px;
    line-height: 22px;
  }
}
