.header {
  margin: 0 auto;
  padding: 0 19px;
  max-width: 880px;
}

.header::after {
  content: '';
  background-color: rgba(84, 84, 84, .7);
  display: block;
  height: 1px;
}

@media screen and (max-width: 531px) {
  .header {
    padding: 0;
  }
}
